// ============================================
// HEADER
// ============================================

@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

header {
  @include m.gradient-primary;
  box-shadow: v.$shadow-sm;
}